:root {
    --red-orange: #ff6666;
    --blue: #0066ff;
    --purple: #666699;
    --orange: #ff9966;
    --yellow-green: #cccc00;
    --green-brown: #999966;
    --dark-green: #004d4d;

    --fancyFont: 'Courgette', cursive;
    --sansSerifFont1: 'Exo 2', sans-serif;
    --sansSerifFont: 'Abel1',sans-serif;

}
